<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="Algolia4Sitecore.App" value="ABC1234" />
      <setting name="Algolia4Sitecore.AdminApiKey" value="80b2f6b2b9e34f9aa41f248cd3a2626f" />
      <setting name="Algolia4Sitecore.IndexingDatabase" value="web" />
    </settings>

    <events>
      <event name="item:deleted">
        <handler type="Algolia4Sitecore.Events.IndexingHandler, Algolia4Sitecore" method="OnItemDeleted" resolve="true"/>
      </event>
    </events>

    <scheduling>
        <!-- this is one of the many options we have - agent that will gather indexing batches and send these to indexes -->
        <!-- <agent type="Algolia4Sitecore.Agents.IndexingAgent, Algolia4Sitecore" method="Run" interval="00:02:00" resolve="true" /> -->
    </scheduling>

    <pipelines>
        <publish>
            <!-- 
                this is the most straightforward implementation - send items directly during the publishing
                it will work for small and relatively static data, when only a few new documents are added and published, nothing is regulary deleted/archived
            -->
            <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="Algolia4Sitecore.Pipelines.PublishProcessor.CustomPublishProcessor, Algolia4Sitecore" resolve="true"/>
        </publish>
    </pipelines>

    <!-- 
    buttons for manual actions can be added 
    -->
    <commands>
      <command name="algolia:reindexitem" type="Algolia4Sitecore.Commands.ReindexItem, Algolia4Sitecore" resolve="true"/>
      <command name="algolia:reindextree" type="Algolia4Sitecore.Commands.ReindexTree, Algolia4Sitecore" resolve="true"/>
      <command name="algolia:rebuildindex" type="Algolia4Sitecore.Commands.RebuildIndex, Algolia4Sitecore" resolve="true"/>
    </commands>
    
  </sitecore>
</configuration>