<?xml version="1.0" encoding="utf-8" ?>
<configuration
    xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/"
    xmlns:env="http://www.sitecore.net/xmlconfig/env/"
    >
    <sitecore>
        <algolia.indexing>
            <configuration type="Algolia4Sitecore.Configuration.Configuration, Algolia4Sitecore">
                <indexes hint="list:AddIndex">
                    <index id="pages" type="Algolia4Sitecore.Configuration.IndexConfiguration, Algolia4Sitecore">
                        <param desc="name">$(id)</param>
                        <param env:require="local" desc="algoliaName">$(id)_local</param>
                        <param env:require="dev" desc="algoliaName">$(id)_dev</param>
                        <param env:require="stage" desc="algoliaName">$(id)_stage</param>
                        <param env:require="prod" desc="algoliaName">$(id)_prod</param>

                        <replicas hint="raw:AddReplicaIndex">
                        </replicas>

                        <rootPaths hint="raw:AddRootPath">
                            <path>/sitecore/content/Site/ContentRoot</path>
                        </rootPaths>

                        <templates hint="raw:AddTemplate">
                            <template1>{000000E8-6BB1-4124-A05E-035D4560BA49}</template1>
                            <template2>{1111111E-35B3-4DCC-9C53-1671A55D8387}</template2>
                            <template3>{22222216-7CA1-4C65-B71F-590D6CB5C9A9}</template3>
                        </templates>

                        <unretrievableAttributes hint="raw:AddUnretrievableAttribute">
                        </unretrievableAttributes>

                        <facetFields hint="raw:AddFacetField">
                            <languages>languages</languages>
                            <regions>regions</regions>
                            <business>business</business>
                            <type>type</type>
                            <name>Name</name>
                        </facetFields>

                        <searchFields hint="raw:AddSearchableField">
                            <title>title</title>
                            <description>description</description>
                            <keywords>keywords</keywords>
                            <name>Name</name>
                            <regions>regions</regions>
                        </searchFields>

                        <HitsPerPage>30</HitsPerPage>
                        <MaxValuesPerFacet>50</MaxValuesPerFacet>
                        <PaginationLimitedTo>1000</PaginationLimitedTo>
                        <MinWordSizefor1Typo>4</MinWordSizefor1Typo>
                        <MinWordSizefor2Typos>6</MinWordSizefor2Typos>
                        <!--
                            https://www.algolia.com/doc/api-reference/api-parameters/removeWordsIfNoResults/
                            'none'|'lastWords'|'firstWords'|'allOptional'
                        -->
                        <RemoveWordsIfNoResults>lastWords</RemoveWordsIfNoResults>
                        <AllowTyposOnNumericTokens>false</AllowTyposOnNumericTokens>
                        <RemoveStopWords>true</RemoveStopWords>
                        <Ranking>typo,geo,words,filters,proximity,attribute,exact,custom</Ranking>
                        <CustomRanking>desc(date)</CustomRanking>
                    </index>
                </indexes>
            </configuration>
        </algolia.indexing>
    </sitecore>
</configuration>