<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="Algolia4Sitecore.ApiApplicationId" value="ABC1234" />
      <setting name="Algolia4Sitecore.ApiAdminKey" value="80b2f6b2b9e34f9aa41f248cd3a2626f" />
      <setting name="Algolia4Sitecore.IndexingDatabase" value="web" />
      <setting name="Algolia4Sitecore.PageIndexesPrefix" value="pages_" />
      <setting name="Algolia4Sitecore.IndexOnlyPages" value="true" />

      <setting name="Algolia4Sitecore.IndexingRoot" 
               value="/sitecore/content/Home/Team|/sitecore/content/Home/Glossary" />
    </settings>

    <events>
      <event name="publish:itemProcessed">
        <handler type="Algolia4Sitecore.Events.IndexingHandler, Algolia4Sitecore" method="OnItemProcessed" resolve="true"/>
      </event>
      <event name="item:deleted">
        <handler type="Algolia4Sitecore.Events.IndexingHandler, Algolia4Sitecore" method="OnItemDeleted" resolve="true"/>
      </event>
    </events>

    <scheduling>
      <agent type="Algolia4Sitecore.Agents.IndexingAgent, Algolia4Sitecore" method="Run" interval="00:02:00" resolve="true" />
    </scheduling>

    <pipelines>
      <initialize>
        <processor type="Algolia4Sitecore.Pipelines.Initialize.InitIndexes, Algolia4Sitecore" />
      </initialize>
    </pipelines>

    <commands>
      <command name="st:algolia:reindexitem" type="Algolia4Sitecore.Commands.ReindexItem, Algolia4Sitecore" resolve="true"/>
      <command name="st:algolia:reindextree" type="Algolia4Sitecore.Commands.ReindexTree, Algolia4Sitecore" resolve="true"/>
      <command name="st:algolia:rebuildindex" type="Algolia4Sitecore.Commands.RebuildIndex, Algolia4Sitecore" resolve="true"/>
    </commands>
    
    <algoliaSearch>
      <indexingSettings type="Algolia4Sitecore.Configuration.IndexingSettings, Algolia4Sitecore">
        <!--
        these fields will be included into index documents directly, 
        suitable for page fields, e.g. page title
        Attributes:
          fieldName - name in Algolia
          indexed="true" type="text" - Algolia will perform full text search by this field
          indexed="false" - Algolia will only store this field
          type="facet" - value will be stored as two arrays: "{fieldName}_ids" with list of Guid and "{fieldName}" with list of 'Value' of Enumeration if possible OR item.Key
          type="media" - image URL will be stored in Algolia
          type="boolean" - true/false, for checkboxes
          type="geoloc" fieldName="_geoloc" - geolocation field
        -->
        <includedFields hint="raw:AddIncludedField">
          <!--texts-->
          <to.title fieldName="title" indexed="true">{7E9F704C-662C-40C4-A24C-6BECA43FDDE3}</to.title>
          <to.leadText fieldName="leadText" indexed="true" type="text">{758C06DC-63C4-442D-8CE8-C5782BF876CD}</to.leadText>
          <to.description fieldName="description" indexed="true" type="text">{C8FAB3C0-6154-4F5B-92C9-649916087733}</to.description>
          <to.webcode fieldName="webcode" indexed="true" type="text">{1F080C1E-BB33-4161-BA14-485B98B0384A}</to.webcode>
          <!--facets-->
          <to.season type="facet" fieldName="season">{5367442C-B64E-419B-B307-ADC317553ECA}</to.season>
          <to.product type="facet" fieldName="product">{E2B1D633-52F0-4202-9376-6A034E521765}</to.product>
          <to.segment type="facet" fieldName="segment">{DE74DF73-C1D1-492C-99DE-0044A7CF0B15}</to.segment>
          <to.views type="facet" fieldName="views">{914208D0-2D07-49E3-822A-8C6B2705E086}</to.views>
          <to.specialEvents type="facet" fieldName="specialEvents">{55240115-57DF-4FF1-A213-76A289B5FE7A}</to.specialEvents>

          <place.type type="facet" fieldName="placeType">{14EAC240-B1D7-490F-9B63-22B9492B4051}</place.type>
          <place.awards type="facet" fieldName="awards">{A9A687B0-494D-4663-B2DA-75F667C525DC}</place.awards>
          <place.reachability type="facet" fieldName="reachability">{49689184-D07D-4707-A28A-4595DF10380C}</place.reachability>
          <!--flags-->
          <to.top200attractions type="boolean" fieldName="top200">{F8B9C081-B10A-44AC-B0D9-850178CBE7B7}</to.top200attractions>
          <to.isMainPlace type="boolean" fieldName="isMainPlace">{50CA10A3-D2E6-426D-AD57-CF51CECD6D29}</to.isMainPlace>
          <to.isReferencePlace type="boolean" fieldName="isReferencePlace">{439659E2-D934-4993-86A9-629E7C3EC394}</to.isReferencePlace>
          <to.isRdk type="boolean" fieldName="isRdk">{74FE1531-5D9E-4F6C-85B2-82A62E4120C2}</to.isRdk>
          <!--geo-->
          <to.geolocation type="geoloc" fieldName="_geoloc" latitude="{7D00FA29-C220-40B5-81E1-45246EE7AA71}" longitude="{684D7893-35D7-4FF8-B7FE-06A78F16351B}">{7D00FA29-C220-40B5-81E1-45246EE7AA71}</to.geolocation>

          <!--media-->
          <to.mainImages indexed="false" fieldName="mainImages" type="media">{394374E1-F1A3-4B21-A501-56E42B62F1E2}</to.mainImages>
        </includedFields>
        <!--
        these fields will be merged into one 'content' index field, 
        suitable for all related content e.g. datasource items
        -->
        <contentFields hint="raw:AddContentField">
          <to.leadText>{758C06DC-63C4-442D-8CE8-C5782BF876CD}</to.leadText>
          <to.leadTextOverview>{70900E44-7CDE-4236-A7F9-F7C718C4E1C9}</to.leadTextOverview>
          <to.description>{C8FAB3C0-6154-4F5B-92C9-649916087733}</to.description>
          <!--          <dataSourceItem.Text>{C8FAB3C0-6154-4F5B-92C9-649916087733}</dataSourceItem.Text>-->
        </contentFields>
        <excludedTemplates hint="raw:AddExcludedTemplate">
          <system.bucket>{ADB6CA4F-03EF-4F47-B9AC-9CE2BA53FF97}</system.bucket>
          <places.folder>{D70017C6-0D31-4B5B-B72A-246D2BE8681C}</places.folder>
        </excludedTemplates>
      </indexingSettings>
    </algoliaSearch>
    
  </sitecore>
</configuration>